    <h1>Forgot Password</h1>
    <p>Hello <%= user.name %>,</p>
    <p>Please click the link below to reset your password:</p>
    <%= link_to "Reset", "/forgot-password?token=#{user.reset_password_token}" %>
    <%# <%= link_to planet_path(1), "Planet" %>
    <p>Thanks!</p>
