    <h1>Forgot Password</h1>
    <p>Hello <%= user.name %>,</p>
    <p>Please click the link below to reset your password:</p>
    <a href=<%="#{APP_URL}/reset-password?token=#{user.password_reset_token}"%>>Reset</a>
    <p>Thanks!</p>
